/*Cor de fundo da página*/
body{
    background-color: rgb(0, 0, 0);
}
/*Define as caracteristicas da sidebar esquerda*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}
/*Define as caracteristicas da logo do spotify na sidebar esquerda*/
.sidebar-navigation {
    background-color:rgb(12, 12, 12);
    border-radius: 8px;
    padding: 16px 0px 0px 16px; /*Altura (encima, direito, embaixo e esquerdo)*/
}
/*Define as caracteristicas da logo do spotify na sidebar esquerda*/
.logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0px 0px 16px;
}
/*Define o tamanho da imagem da logo do spotify na sidebar esquerda*/
.logo img {
    width: 80px;      
}
/*Define caracteristicas da lista (início e buscar) na sidebar esquerda*/
.sidebar-icons ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}
/*Define caracteristicas da lista (início e buscar) na sidebar esquerda*/
.sidebar-icons ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.sidebar-icons ul li {
    padding: 10px 0;
}
/*Define caracteristicas da biblioteca (icones, palavras, etc) na sidebar esquerda*/
.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library-content {
    display: flex;
    justify-content: space-between;
}

.library .library-button {
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
}

.library .library-content .fa-bookmark {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library-content .fa-plus {
    margin: 24px 10px;
}
/*Define caracteristicas da área de playlist na sidebar esquerda*/
.section-playlist {
    display: flex;
    align-items: flex-start;
    background-color: #242424;
    justify-content: space-between;
    gap: 20px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    }

.section-playlist .section-playlist-content {
    display: flex;
    flex-direction: column;
}

.section-playlist-content .text {
    padding-bottom: 14px;
    color: #fff
}

.section-playlist-content .title {
    font-weight: 700;
}

.section-playlist-content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist-content .section-playlist-button {
    background-color: fff; 
    color: black;
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0px;
    width: 113px;
    margin-top: 12px;
}
/*Define caracteristicas da área de cookies na sidebar esquerda*/
.library .cookies {
    margin: 25px 20px;
}

.library .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.library .cookies a:hover{
    text-decoration: underline;
}
/*Define caracteristicas da área de cookies na sidebar esquerda*/
.library .languages .languages-button {
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    width: 170px;
    margin: 8px;
    padding: 8px;
}
